# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Your Database Connection URL. I recommend using Neon with free plan: https://neon.tech/
DATABASE_URL='postgresql://postgres:password@localhost:5432/penify'


# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret 
NEXTAUTH_SECRET=""

# Next Auth Discord Provider

# if you want to gain public access to collaboration in your blog website then you can add public providers for example: Discord, Google, etc.
# See README.md for more information on how to set up OAuth2 providers.
# DISCORD_CLIENT_ID=""
# DISCORD_CLIENT_SECRET=""
# GOOGLE_CLIENT_ID=''
# GOOGLE_CLIENT_SECRET=''
# FACEBOOK_CLIENT_ID=''
# FACEBOOK_CLIENT_SECRET=''

# UploadThing for images upload (2gb is for free). https://uploadthing.com/ sign in and create the project.
# After that you will get the secret and app id, which you can use here.
UPLOADTHING_SECRET=''
UPLOADTHING_APP_ID=''