@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  html,
  body {
    @apply min-h-[100vh] bg-black;
  }

  html:has(.dashboard),
  body:has(.dashboard) {
    @apply bg-slate-200;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-white;
  }

  p {
    @apply leading-6 text-grey-soft;
  }

  section,
  .section {
    @apply p-6;
  }
  .wrapper {
    @apply mx-auto max-w-[1440px];
  }

  .h1 {
    @apply text-[40px] font-semibold leading-normal md:text-[24px];
  }

  .h2 {
    @apply text-[24px] font-medium md:text-[20px];
  }

  .h3 {
    @apply text-[20px] font-medium md:text-[16px] md:font-bold;
  }
}

@layer components {
  .dashboard {
    @apply mx-auto max-w-[1000px];
  }
  .multi-select {
    @apply h-[54px] w-full;
  }
  .multi-select .select__control {
    @apply h-full w-full overflow-y-scroll !rounded-[12px] border-2 border-transparent hover:border-black;
  }
  .multi-select .select__indicators {
    @apply hidden;
  }
  .multi-select .select__placeholder {
    @apply text-sm;
  }
  .editor {
    word-break: break-word;
  }
}
